#back-top {
    position: fixed;
    bottom: 7.5%;
    margin-left: 90%;
}
#back-top a {
    width: 90px;
    display: block;
    text-align: center;
    font: 11px/100% Trebuchet MC, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    -webkit-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
#back-top span {
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 7px;
    margin-left: 10%;
    background: #ddd url(images/up-arrow.png) no-repeat center center;
    border-radius: 60px;
    -webkit-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}
